title: Venture
email: admin@venturecraftcoffee.com
description: >- # this means to ignore newlines until "baseurl:"
  This is just a small sample website/menu
  demo for Venture Craft Coffee
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://venturecraftcoffee.com" # the base hostname & protocol for your site, e.g. http://example.com
# Build settings
remote_theme: "mmistakes/so-simple-theme@3.2.0"
plugins:
  - jekyll-feed
collections:
  - menu
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
